.header {
    position: sticky;
    z-index: 2;
    .navbar {
        background: $azul !important;
        padding-top: 0;
        border-radius: 0px 0px 20px 20px;
        .navbar_container {
            .navbar-brand {
                font-family: $titulos;
                color: $blanco;
                font-size: 25px;
                padding: 2rem 1rem 1rem 1rem;
            }
            .navbar-toggler {
                background: $blanco;
                margin-right: 1rem;
                border: none;
                color: $blanco;
            }
            .nav-item {
                font-family: $texto;
                .nav-link {
                    color: $blanco;
                    padding-left: 1rem;
                }
            }
        }
    }
}
.quienes_somos {
    background: $blanco;
    .qs_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1.5rem;
        align-items: center;
        h1 {
            font-family: $titulos;
            color: $negro;
            font-size: 25px;
            text-align: center;
        }
        p {
            font-family: $texto;
            color: $negro;
            font-size: 18px;
            text-align: center;
            padding-top: 1rem;
            width: 70%;
        }
    }
    .contacto_container {
        display: flex;
        width: 70%;
       .svgs_container {
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
        }
        .text_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-family: $titulos;
                font-size: 18px;
            }
        }
    }
}
.estilos {
    background: $azul;
    .estilos_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1.5rem;
        align-items: center;
        h1 {
            font-family: $titulos;
            color: $blanco;
            font-size: 25px;
            text-align: center;
        }
        .cards_container {
            display: flex;
            flex-direction: column;
            .card {
                width: 289.33px;
                height: 149.38px;
                background: $bordo;
                margin: 1.5rem;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                .card_body {
                    padding: 0.3rem;
                    h5 {
                        font-family: $titulos;
                        font-size: 14px;
                        color: $blanco;
                    }
                    p {
                        color: $blanco;
                        font-family: $blanco;
                        font-size: 12px;
                    }
                    a {
                        text-decoration: none;
                        font-family: $texto;
                        padding: 0.2rem;
                        color: $azul;
                        font-size: 12px;
                        background: $blanco;
                        border-radius: 15%;
                    }
                }
            }
        }
        button {
            background: $bordo;
            border-radius: 10%;
            color: $blanco;
            width: 164px;
            height: 31.63px;
            border: none;
            font-size: 18px;
            margin-bottom: 2rem;
        }
        .elementos_container {
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 38%;
                height: 38%;
            }
            .elementos_svg {
                width: 25%;
                height: 25%;
            }
            button {
                @include botonMobile;
                color: $blanco;
                margin-top: 1rem;
                font-family: $titulos;
                transition: all 0.5s ease;
                margin-bottom: 1rem;
                &:hover {
                   transform: scale(1.2);
                }
            }
        }
    }
}
footer {
    background: $bordo;
    display: flex;
    align-items: center;
    padding: 2rem;
    h1 {
        font-size: 18px;
        font-family: $titulos;
        color: $blanco;
        span {
            cursor: pointer;
            &:hover {
                background: $blanco;
                color: $azul;
            }
            a {
                text-decoration: none;
                color: $blanco;
                font-family: $titulos;
            }
        }
    }
}