.header {
    position: sticky;
    z-index: 2;
    .navbar {
        background: $azul !important;
        padding-top: 0;
        border-radius: 0px 0px 20px 20px;
        .navbar_container {
            .navbar-brand {
                font-size: 50px;
                width: 30%;
                img {
                    width: 80%;
                }
            }
            .navbar-toggler {
                background: $blanco;
                margin-right: 1rem;
                border: none;
                color: $blanco;
            }
            .nav-item {
                font-family: $texto;
                .nav-link {
                   img {
                    width: 35%;
                   }
                }
                .agile {
                    img {
                        width: 50%;
                    }
                }
                .comunidad {
                    img {
                        width: 40%;
                        @media screen and (min-width: 1200px){
                            width: 50%;
                        }
                    }
                }
                .contactoNav {
                    img {
                        width: 30%;
                        @media screen and (min-width: 1200px){
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}
.quienes_somos {
    background: $blanco;
    .qs_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1.5rem;
        align-items: center;
        h1 {
            font-family: $titulos;
            color: $negro;
            font-size: 25px;
            text-align: center;
        }
        p {
            font-family: $texto;
            color: $negro;
            font-size: 18px;
            text-align: center;
            padding-top: 1rem;
            width: 70%;
            span {
                a {
                    text-decoration: none;
                    font-family: $titulos;
                    color: $azul;
                    cursor: pointer;
                }
            }
        }
        .desktop_p {
            display: none;
        }
        img {
            width: 100%;
            margin: 2rem;
        }
       
    }
    .contacto_container {
        display: flex;
        width: 70%;
       .svgs_container {
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           margin-left: -1rem;
           img {
               width: 60%;
           }
        }
        .text_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            p {
                font-family: $titulos;
                font-size: 18px;
                a {
                    text-decoration: none;
                    font-family: $titulos;
                    font-size: 18px;
                    color: $negro;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        font-size: 25px;
                        text-decoration: underline;
                        
                    }
                }
            }
        }
    }
}
.estilos {
    background: $azul;
    .estilos_container {
        display: flex;
       flex-direction: column;
        justify-content: center;
        padding-top: 1.5rem;
        align-items: center;
        h1 {
            font-family: $titulos;
            color: $blanco;
            font-size: 25px;
            text-align: center;
        }
        .cards_container {
            display: flex;
            flex-direction: column;
            .card {
                width: 289.33px;
                height: 149.38px;
                background: $bordo;
                margin: 1.5rem;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                @media screen and (max-width: 400px) {
                    width: 200px;
                    height: 120px;
                    margin: 0.5rem;
                }
                
                img {
                    max-width: 50%;
                }
                .card_body {
                    padding: 0.3rem;
                    @media screen and (max-width: 400px) {
                        padding: 0.2rem;
                      }
                    h5 {
                        font-family: $titulos;
                        font-size: 14px;
                        color: $blanco;
                        @media screen and (max-width: 400px)  {
                            font-size: 12px;
                        }
                    }
                    p {
                        color: $blanco;
                        font-family: $blanco;
                        font-size: 12px;
                        @media screen and (max-width: 400px) {
                            font-size: 10px;
                         }
                    }
                    .frase {
                        display: none;
                    }
                    a {
                        text-decoration: none;
                        font-size: 25px;
                        color: $blanco;
                        padding-left: 3rem;
                        margin-bottom: 1.5rem;
                        @media screen and (max-width: 400px) {
                            font-size: 15px;
                           }
                    }
                }
            }
        }
        button {
            background: $bordo;
            border-radius: 10%;
            color: $blanco;
            width: 164px;
            height: 31.63px;
            border: none;
            font-size: 18px;
            margin-bottom: 2rem;
        }
        .elementos_container {
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            p {
                display: none;
                
            }
            img {
                width: 38%;
                height: 38%;
            }
            .elementos_svg {
                width: 25%;
                height: 25%;
            }
            button {
                @include botonMobile;
                color: $blanco;
                margin-top: 1rem;
                font-family: $titulos;
                transition: all 0.5s ease;
                margin-bottom: 1rem;
                &:hover {
                   transform: scale(1.2);
                }
            }
        }
    }
}
footer {
    background: $bordo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    h1 {
        font-size: 18px;
        font-family: $titulos;
        color: $blanco;
        span {
            cursor: pointer;
            &:hover {
                background: $blanco;
                color: $azul;
            }
            a {
                text-decoration: none;
                color: $blanco;
                font-family: $titulos;
            }
        }
    }
}